body,
html {
  background: #000000;
  height: 100%;
}

.header {
  @apply flex justify-between items-center w-full fixed px-2 top-0 z-[100] h-auto  bg-black 
  max-md:py-0 max-md:px-5 max-md:flex max-md:justify-between max-md:h-auto opacity-70;
}

.nav-logo {
  @apply w-[4rem] /*max-md:absolute max-md:top-0 max-md:w-32 max-md:h-8*/;
}

.navbar {
  @apply items-start max-md:absolute max-md:top-[100%] max-md:left-0 max-md:w-[100%]
  max-md:p-[1rem] max-md:bg-black;
}

.menu {
  @apply text-white hidden max-md:block /*max-md:absolute max-md:top-6 max-md:right-6*/;
}

.nav-link {
  @apply text-2xl font-semibold text-[#c42c2c] ml-[1.3rem] p-1
  rounded-[0.3rem] bg-transparent hover:bg-[#0ee431] hover:bg-opacity-30 transition-all duration-300 
  max-lg:text-base max-lg:mx-1 max-lg:px-1 max-md:block;
}

.footer {
  @apply text-[#000] max-2xl:fixed max-2xl:bottom-0 bg-[#7a4d1a]  flex justify-between w-full h-8 py-0 opacity-75 px-[2.3rem] max-md:px-2;
}
.footer-links {
  @apply flex justify-between gap-3 pt-2 text-[#000] text-[5rem] max-md:gap-1;
}

.section-container {
  @apply text-white w-full m-auto pt-16 px-32 bg-[#693505] max-lg:px-12 max-md:pb-[2.2rem] max-md:h-auto;
}

.contactSect {
  @apply grid pb-12 grid-cols-3 gap-2  max-md:grid-cols-1 
  max-lg:grid-cols-2 max-md:gap-[2px];
}
.contact-box {
  @apply p-[.8rem] border-[3px] text-center rounded-[.2rem] hover:border-[#40a145] hover:border-[5px];
}

.contact-box svg {
  @apply text-[#0e0d0d] hover:animate-pulse font-extrabold;
}

.contact-box .socials {
  @apply flex justify-center gap-2 max-md:gap-4;
}

.homeSect {
  background-image: url("./images/H1.jpg");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.homeSect {
  @apply m-auto;
}

.container {
  @apply w-full h-[100vh] flex items-center justify-center text-white;
}
.content {
  @apply border-b-[.2rem] border-l-[.5rem] p-5 font-bold bg-black opacity-80;
}

.content h1 {
  @apply text-[4rem] max-md:text-[2rem];
}

.content p {
  @apply text-[2rem] max-md:text-[1.2rem];
}

.about-container {
  @apply grid grid-cols-2 items-center w-full h-[auto] max-md:grid-cols-1 max-md:h-auto;
}
.about-box {
  @apply px-3 bg-black h-full max-md:h-auto;
}
.about-box h1 {
  @apply text-[2.3rem] font-bold max-md:text-[1.6rem] max-md:font-medium;
}

.about-box p {
  @apply text-[1.2rem] font-bold max-md:text-[0.9rem];
}

.abHome {
  background-image: url("./images/about/gabo.jpg");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.abHome {
  @apply text-center flex items-center justify-center max-md:hidden;
}
.abCont {
  @apply bg-gray-500 p-5 border-[2px] border-[#11bb0c] hover:border-[5px];
}

/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
